---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Ilya Voytov</h1>
			<p>
				I'm a Senior Vice President at Lazard Asset Management, working on Quant Research. 
				My focus is on developing alpha models to be used in trading global equities.
				Our strategy is long-only with medium frequency turnover.
				I've been living in New York City since 2020.
			</p>
			<p>
				I've previously spent 13 years as Head of Research at Vector Capital in San Francisco.
				While there, I focused on identifying special situations and catalyst-driven investments 
				in high yield and syndicated loan markets. I have experience in long/short investing across 
				variety of industries and geographies.
			</p>
			<p>
				I started my career at JPMorgan's investment bank. My office was on the 5th floor of the
				original 270 Park Ave tower, now demolished and replaced with a wonderful new building 
				for JPM's global headquarters. 
			</p>
			<p>
				I'm an avid runner and a member of <a href="https://www.newyorkharriers.com">New York Harriers</a> running club.
				I participate in running competitions through the year.
			</p>
			<p>Here are my active tech projects:</p>
			<ul>
				<li><a href="https://ivoytov.github.io/forqloz">NYC Foreclosure Auction Tracker</a></li>
				<li><a href="https://ivoytov.github.io/manhattan">NYC Real Estate Repeat Sales Index</a></li>
			</ul>
			<p>
				You can reach me at <a href="https://www.threads.com/@goilya">@goilya on Threads</a> or 
				email me at <a href="mailto:ilya@voytov.com">ilya@voytov.com</a>.
			</p>

		</main>
		<Footer />
	</body>
</html>
