---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Ilya Voytov. All rights reserved.
	<div class="social-links">
		<a href="https://github.com/ivoytov" target="_blank">GitHub
		</a>
		<a href="https://www.instagram.com/goilya/" target="_blank">Instagram</a>
		<a href="https://www.reddit.com/user/iav/", target="_blank">Reddit</a>
		<a href="https://www.threads.com/@goilya", target="_blank">Threads</a>
		<a href="https://www.linkedin.com/in/voytov/", target="_blank">LinkedIn</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
